@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* .container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
} */
.header {
  grid-row: 1/2;
  grid-column: 2/3;
}

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
}
.main {
  grid-row: 2/3;
  grid-column: 2/3;
}

.hiddenModal{
  display: none;
}
